body{
    background-color:#E8F5E9;
}

form{
    width: 27%;
   margin: auto;
   padding-top: 150px;

    
}

.bg-design{
    background-color: #A5D6A7;
    border-radius: 20px;
    padding: 60px;
}

.bg-login{
    margin-top: 50px;
    background-color: #1B5E20;

}

.submit-btn{
    background-color: #1B5E20;
    padding-left: 70px;
     padding-right: 70px;
    
}

.dashboard-topic{
  
  text-align: center;
  font-size: 50px;
  margin-top: 0 px;
  padding-top: 15px;
  padding-bottom: 15px;
   font-family: "Righteous", sans-serif;
   background-color: #A5D6A7;
  
    
}

.button-container {
  display: flex;
  flex-direction: column;   /* stack buttons vertically */
  align-items: center;      /* center horizontally */
  justify-content: center;  /* center vertically */
   /* full page height */
    
   gap: 30px;
  margin-top: 100px;
  
}

.button-container .btn {
  width: 300px;    
  height: 60px;  
  font-weight: 700;       /* equal button size */
}

.back-btn{
    background-color: black;
    color: white;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
     position: fixed;    /* stays in place even when scrolling */
  bottom: 20px;       /* distance from bottom edge */
  right: 20px; 
   cursor: pointer;
}

.sub-topic{
    text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
   font-family: "Righteous", sans-serif;
   background-color: #A5D6A7;

  
}

.center-input {
  max-width: 600px;   /* control width */
  margin: 0 auto;     /* center horizontally */
}

.form-label{
    font-weight: 700;
    color: black;
}

#validationServer03 {
  max-width: 600px;   /* limit width */
  margin: 0 auto;     /* center horizontally */
}


.btn.btn-success{
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}

.d-flex{
    margin-top: -140px;
    margin-bottom: 20px;
}



